*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100vh;
    margin-bottom: auto;
 margin: auto;
}
div{
    border: 1px solid black;
    width: 600px;
    background-color:rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 20px;
    padding: 40px;
    gap: 30px;
    text-align: center;
        text-decoration: none;
}
 img{
    width: 200px;
    margin: auto;
    padding: 0px;
    
}
input:focus{
    border: 2px solid #00ff88;
    box-shadow: 0 0 15px #00ff88;
}

input {
    width: 80%;
    text-align: center;
    border-radius: 30px;
    color: darkgreen;
    height: 35px;
}
a{
        width: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: darkgreen;
    color: white;
    height: 30px;
    text-decoration: none;
  height: 50px;
  font-size: 20px;
  padding: 0;

}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #00ff88;
    padding: 20px;

    text-shadow:
    0 0 5px #00ff88,
    0 0 10px #00ff88,
    0 0 20px #00ff88,
    0 0 40px #00ff88;
}
.sa{
     width: 60%;
    text-align: center;
    border-radius: 30px;
    background-color: darkgrey;
    color: rgb(6, 60, 19);
    height: 30px;
        padding: 12px 30px;
    font-size: 13px;
    background: white;
    border: 3px solid transparent;
    border-radius: 12px;
    

    background-image:
        linear-gradient(white, white),
        linear-gradient(
            90deg,
            red,
            orange,
            yellow,
            lime,
            cyan,
            blue,
            violet,
            red
        );

    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 300% 100%;

    animation: borderMove 3s linear infinite;
}

@keyframes borderMove {
    0% {
        background-position: 0 0, 0% 0;
    }
    100% {
        background-position: 0 0, 300% 0;
    }
}
    






button:hover{
    background-color: rgb(26, 114, 26);
}
@media (max-width:768px){
    div{
        background-color: rgb(6, 8, 2);
        width: 100%;
    }
    section {
        flex-direction: column;
    }
    div{
    border: 1px solid black;
    width: 600px;
    background-color:rgba(255, 255, 255, 0.5);
  margin: auto;
    border-radius: 20px;
    width: 100%;
      animation: nate 3s infinite;
    opacity: 1;

   
    text-align: center;
        text-decoration: none;
        
}
}
body{
    background-image: url(./.vscode/d87a0840-19b0-40bc-9ea9-c05c1f86adc4.webp);
    background-repeat: no-repeat;
    width: 100%;
      background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh;  
        background:
    linear-gradient(
        135deg,
        #000000,
        #001a00,
        #00ff88
    );
      
}
@keyframes nate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.08);
    }
    100%{
        transform: scale(1);
    }
}